body {
  margin: auto;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
}

/* NavComponent */
nav {
  height: 60px;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav__wrap {
  width: 92%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo__wrap {
  display: flex;
  cursor: pointer;
}

.nav__logo {
  width: 21.5px;
  height: 20px;
}

.nav__logo__wrap > svg {
  width: 100px;
}

.nav__wrap > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  cursor: pointer;
  padding: 0 8px;
}

.nav__item a {
  font-size: 15px;
  font-weight: 300;
  padding: 12px 10px;
  text-decoration: none;
  text-align: left;
  background-color: transparent;
  line-height: 20px;
  border-radius: 8px;
  border: 0;
  color: rgb(78, 89, 104);
}

.nav__item a:hover {
  background-color: rgba(2, 32, 71, 0.05);
}

.nav__item button {
  background-color: rgb(49, 130, 246);
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 32px;
  color: rgb(249, 250, 251);
  cursor: pointer;
  font-size: 12px;
  padding: 7px 12px;
  box-sizing: border-box;
}

.nav__item button:hover {
  background-color: rgb(27, 100, 218);
}

/* main */
main {
  margin: auto;
  max-width: 980px;
  margin-bottom: 192px;
}

/* TechComponent */
.list {
  width: 92%;
  margin: 0 auto;
}

.list__title {
  margin: 52px 0 32px 0;
  padding: 20px 0;
  color: rgb(51, 61, 75);
}

.list__ul {
  margin: 0;
  padding: 0;
}

.list__anchor {
  cursor: pointer;
}

.list__box {
  display: flex;
}

.list__box > img {
  width: 240px;
  height: 240px;
  border-radius: 14px;
  margin-right: 48px;
}

.card__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__title {
  color: rgb(51, 61, 75);
  transition: all 0.3s ease;
  margin: 0;
  margin-bottom: 14px;
}

.card__img {
  transition: all 0.3s ease;
}

.card__description {
  margin: 0 0 12px 0;
  color: #4e5968;
}

.card__date {
  margin: 0;
  color: #8b95a1;
}
/* sectionComponent */
#section {
  width: 100%;
  height: 186px;
  background-color: rgba(2, 9, 19, 0.91);
  display: flex;
  padding: 60px 24px;
  justify-content: center;
}

#section > img {
  width: 186px;
  height: 186px;
}

.section__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__title {
  color: #ffffff;
  margin: 0;
}

.section__phrase {
  color: #e5e8eb;
  margin: 8px 0 0 0;
}

.section__btn {
  width: 150px;
  height: 40px;
  margin-top: 24px;
  background-color: rgb(49, 130, 246);
  border: none;
  border-radius: 7px;
  color: rgb(249, 250, 251);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 13px;
  line-height: 18px;
}

.section__btn:hover {
  background-color: rgb(27, 100, 218);
}

/* FooterComponent */
footer {
  height: 361px;
  padding: 50px 0 100px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  max-width: 1064px;
  margin: auto;
  padding: 0 67px;
  box-sizing: border-box;
}

.footer__menu {
  display: flex;
  padding-bottom: 50px;
  font-size: 15px;
}

.footer__menu a {
  text-decoration: none;
}

.list__tosstech,
.list__toss {
  width: 170px;
}

.footer__list__title {
  height: 35px;
}

.footer__list__content {
  height: 30px;
  line-height: 30px;
  color: rgb(107, 118, 132);
}

.footer__list__content a:hover {
  text-decoration-line: underline;
}

.footer__list__content a {
  color: rgb(107, 118, 132);
}

.list__cs {
  flex: 1;
}

.footer__inner ul {
  list-style: none;
  padding: 0;
}

address {
  padding-bottom: 54px;
  font-size: 15px;
}

.footer__rights__name {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 600;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  color: rgb(107, 118, 132);
}

.footer__btns {
  padding: 0;
  margin: 16px 0;
}

.footer__ul {
  display: flex;
  list-style: none;
}

.footer__ul li {
  margin-right: 8px;
  height: 40px;
  text-align: left;
}

/* Detail */
.article__wrap {
  width: 92%;
  height: 100%;
  max-width: 700px;
}

.article__box {
  width: 100%;
}

.article__header {
  width: 100%;
}

.header__img {
  width: 100%;
  margin-top: 36px;
  border-radius: 12px;
}

.header__title {
  margin-top: 20px;
  font-size: 48px;
  line-height: 1.25;
  color: rgb(51, 61, 75);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.header__section {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.header__section img {
  width: 48px;
  height: 48px;
  border-radius: 156px;
  margin-right: 14px;
}

.profile__wrap h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: rgb(78, 89, 104);
  white-space: nowrap;
}

.profile__wrap p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(139, 149, 161);
}

/* 내용 */
.article__contents {
  margin-top: 54px;
}

/* 라이크 버튼*/
.vote__box {
  margin-top: 54px;
  background-color: rgb(249, 250, 251);
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.vote__title {
  font-size: 24px;
  margin-bottom: 16px;
  color: rgb(78, 89, 104);
}

.vote__phrase {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(107, 118, 132);
  margin-bottom: 4px;
  margin-top: 0px !important;
}

.vote__btns {
  display: flex;
  margin-top: 16px;
}

.vote__btn {
  display: block;
  font-size: 40px;
  cursor: pointer;
  margin: 0px 12px;
  transition: all 0.15s ease-in-out 0s;
}

.vote__btn:hover {
  transform: scale(1.2);
}

.share__btn {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.share__btn button {
  width: 149px;
  height: 40px;
  background-color: rgb(232, 243, 255);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: rgb(27, 100, 218);
  font-size: 15px;
  font-weight: 600;
  margin: 0 12px;
  padding: 11px 16px;
  text-align: center;
  transition: all 0.15s ease-in-out;
}

.share__btn button:hover {
  background-color: rgba(27, 100, 218, 0.2);
}
