body {
  margin: auto;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
}

/* NavComponent */
nav {
  height: 60px;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* .nav__logo {
  width: 21.5px;
  height: 20px;
} */

.nav__logo__wrap > svg {
  width: 100px;
}

/* main */
main {
  margin: auto;
  max-width: 980px;
  margin-bottom: 192px;
}

/* TechComponent */
.list {
  width: 92%;
  margin: 0 auto;
}

.list__title {
  margin: 52px 0 32px 0;
  padding: 20px 0;
  color: rgb(51, 61, 75);
}

.list__ul {
  margin: 0;
  padding: 0;
}

.list__box {
  display: flex;
  cursor: pointer;
}

.list__box > img {
  width: 240px;
  height: 240px;
  border-radius: 14px;
  margin-right: 48px;
}

.card__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__title {
  color: rgb(51, 61, 75);
  transition: all 0.3s ease;
  margin: 0;
  margin-bottom: 14px;
}

.card__img {
  transition: all 0.3s ease;
}

.card__description {
  margin: 0 0 12px 0;
  color: #4e5968;
}

.card__date {
  margin: 0;
  color: #8b95a1;
}

/* FooterComponent */
footer {
  height: 361px;
  padding: 50px 0 100px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  max-width: 1064px;
  margin: auto;
  padding: 0 67px;
  box-sizing: border-box;
}

.footer__menu {
  display: flex;
  padding-bottom: 50px;
  font-size: 15px;
}

.footer__menu a {
  text-decoration: none;
}

.list__tosstech,
.list__toss {
  width: 170px;
}

.footer__list__title {
  height: 35px;
}

.footer__list__content {
  height: 30px;
  line-height: 30px;
  color: rgb(107, 118, 132);
}

.footer__list__content a:hover {
  text-decoration-line: underline;
}

.footer__list__content a {
  color: rgb(107, 118, 132);
}

.list__cs {
  flex: 1;
}

.footer__inner ul {
  list-style: none;
  padding: 0;
}

address {
  padding-bottom: 54px;
  font-size: 15px;
}

.footer__rights__name {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 600;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  color: rgb(107, 118, 132);
}

.footer__btns {
  padding: 0;
  margin: 16px 0;
}

.footer__ul {
  display: flex;
  list-style: none;
}

.footer__ul li {
  margin-right: 8px;
  height: 40px;
  text-align: left;
}
